<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="SmtpServer" value="" />
    <add key="SmtpServerPort" value="" />
    <add key="EmailAccount" value="" />
    <add key="EmailAccountPasswordEntropy" value="" />
    <add key="EmailAccountPassword" value="" />
  </appSettings>
</configuration>
